*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  font-family: cursive;
  background-color:white;
}

ul{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 11px;
  margin: 0px 320px 0px 320px;
  text-align: center;
  border-bottom:1px solid grey;
  border-top: 1px solid grey;
}
li {
  display: inline;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
li.ty{
  border-left:1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
img{
  width: 25%;
  height: 25%;
}

.logo{
  text-align: center;
}